
@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <form method="post" asp-action="delete">
        <input type="submit" class="btn btn-danger" value="Delete"/>
        <input type="submit" asp-action="index" class="btn btn-success" value="Go Back" />
    </form>
</div>

